body {
    text-align: center;
    color: grey;  /* remove once on server  */
    background-color: black;  /* remove once on server  */
}

.hidden {
    display: none;
}

table {
    margin: 0 auto;
}

td {
    padding: 0.25em;
}

.underlined {
    text-decoration: underline;
}