body {
    text-align: center;
    color: grey;  /* remove once on server  */
    background-color: black;  /* remove once on server  */
}

.hidden {
    display: none;
}

input[type=text] {
    background-color: inherit;
    border: none;
    color: inherit;
    width: 5em;
}

li.nav-item {
    cursor: pointer;
}

table {
    margin: 0 auto;
}

td {
    padding: 0.25em;
}

.underlined {
    text-decoration: underline;
}